.App {
text-align: center;
font-family:Georgia, 'Times New Roman', Times, serif;
}

.form {
  padding: 10px;
}
.form input,select {
  font-size:15px;
  padding: 5px 10px ;
  margin: 10px;
  outline: none;
  border-radius: 10px;
  border:1px solid #ccc;
}
.form input[type="submit"],button:hover{
  cursor: pointer;
}
button{
  font-size:15px;
  padding: 5px 10px ;
  margin: 10px;
  outline: none;
  border-radius: 10px;
  border:red solid 1px;
  background-color: red;
  color: white;
}

table {
  width: 100%;
  border:1px solid #ccc;
}
table td {
  padding: 5px;
  background-color: #EEE;
}
table thead th{
  padding: 10px;
  color: white;
  background-color : blue
}